*.DS_Store
*.iml
.idea/
.svn/
.ipr
.iws
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
*.swp
*.swo
*.pyc
*.pyo
node_modules
npm-debug.log
_site
.cache
*.sublime-project
*.sublime-workspace
dist
build
archive
userAndPassword
